html {
    min-height: 100%;
    position: relative;
}

body {
    height: 100%;
}

p, h1, h2, h3, h4, a {
  font-weight: 300;
}

a, a:link, a:hover, a:active {
    text-decoration: none;
}

.main-content {
    padding-top: 50px;
    text-align: center;
}

.back {
    padding-left: 5%;
    margin-top: 20px;
    text-align: left;
    font-size: $font-size-mobile;
}

.admin {
    padding: 5%;

    .back {
        padding-left: 0;
    }
}
