#loginForm {
    width: 90%;
    margin: 10% auto;
    padding-top: 5%;
}

.admin select {
    width: 90%;
}

.admin input[type="text"], input[type="password"] {
    width: 90%;
    margin: 2.5% auto;
    background: white;
    padding-left: 5%;
    height: 50px;
    font-size: 130%;
    border: 1px solid #66B3FF;
}

.admin input[type="checkbox"] {
    width: 15%;
    background: white;
    height: 25px;
    margin: 0;
}

.admin form button {
    width: 90%;
    margin: 2.5% auto;
    background: #66B3FF;
    height: 50px;
    font-size: 130%;
    color: white;
    border: none;
}

.admin textarea {
    width: 90%;
    border: 1px solid #66B3FF;
    resize: none;
    padding: 2%;
    padding-left: 5%;
    height: 300px;
    font-size: 120%;
}

.new-post input[type="file"] {
    display: none;
}

.new-post-gallery,
.edit-post-gallery {
    width: 90%;
    margin: 5% auto;
}

.new-post-gallery .gallery-image,
.edit-post-gallery .gallery-image {
    display:inline-block;
    position:relative;
    height: 100px;
    float: left;
    width: 33%;
}


.new-post-gallery .gallery-image img,
.edit-post-gallery .gallery-image img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    padding: 10px;
    border-radius: 15px;
}

.new-post-gallery .gallery-image .removePhotoButton,
.edit-post-gallery .gallery-image .removePhotoButton {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #dbd4d4;
    border-radius: 5em;
    background: white;
    color: $brand-primary;
    box-shadow: none;
    width: 2em;
    height: 2em;
    font-size: 100%;
    text-align: center;
    padding: 0px;
}

.new-post .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background: #66B3FF;
    color: white;
    font-weight: 400;
    width: 90%;
    height: 50px;
    padding-top: 12px;
    font-size: 130%;
    margin-top: 5%;
}

.popup.spinner i {
    margin: auto;
    font-size: 300%;
}

#picturesInput {
    margin: auto;
    margin-top: 5%;
    width: 90%;
}

.admin-list {
    padding: 5%;
    text-align: left;
    font-weight: 200;
}

.admin-list h1 {
    font-size: 160%;
    margin-top: 10px;
    font-weight: 200;
}

.admin {
    padding: 5%;
}

.admin .back {
    padding: 0;
}

.admin input,
.admin textarea {
    text-align: left;
    font-weight: 300;
    margin-top: 10px;
}

.admin .action-buttons button {
    width: 100%;
    float: left;
    border: none;
    height: 40px;
    margin: 10px 0;
    font-size: 120%;
    font-weight: 300;
    color: white;    
}

.admin .action-buttons button.edit {
    background: #66B3FF;
}

.admin .action-buttons button.delete {
    background: #Db4141;
}