#loginForm {
    width: 90%;
    margin: 10% auto;
    padding-top: 5%;
}

select {
    width: 90%;
}

input[type="text"], input[type="password"] {
    width: 90%;
    margin: 2.5% auto;
    background: white;
    padding-left: 5%;
    height: 50px;
    font-size: 130%;
    border: 1px solid #66B3FF;
}

.category-check-wrapper {
    width: 90%;
    height: 25px;
    text-align: left;
    margin: 2.5% auto;
}

.category-check-wrapper span {
    height: 100%;
    font-size: 110%;
}

input[type="checkbox"] {
    width: 15%;
    background: white;
    height: 25px;
    margin: 0;
}

button.disabled {
    background: red;
}

form button {
    width: 90%;
    margin: 2.5% auto;
    background: #66B3FF;
    height: 50px;
    font-size: 130%;
    color: white;
    border: none;
}

.new-post textarea {
    width: 90%;
    border: 1px solid #66B3FF;
    resize: none;
    padding: 2%;
    height: 300px;
}

.new-post input[type="file"] {
    display: none;
}

.new-post-gallery {
    width: 90%;
    margin: 5% auto;
}

.new-post-gallery img {
    width: 25%;
    max-height: 100px;
    margin: 2% 4.16666667%;
    float: left;
}

.new-post .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background: #66B3FF;
    color: white;
    font-weight: 400;
    width: 90%;
    height: 50px;
    padding-top: 12px;
    font-size: 130%;
    margin-top: 5%;
}

#picturesInput {
    margin: auto;
    margin-top: 5%;
    width: 90%;
}