#loginForm {
    width: 90%;
    margin: 10% auto;
    padding-top: 5%;
}

#loginForm input {
    width: 90%;
    margin: 2.5% auto;
    background: white;
    padding-left: 5%;
    height: 50px;
    font-size: 130%;
    border: 1px solid #66B3FF;
}

form button {
    width: 90%;
    margin: 2.5% auto;
    background: #66B3FF;
    height: 50px;
    font-size: 130%;
    color: white;
    border: none;
}

.new-post textarea {
    width: 90%;
    border: 1px solid #66B3FF;
    resize: none;
    padding: 2%;
    height: 300px;
}