html {
    min-height: 100%;
    position: relative;
}

body {
    height: 100%;
}

.navbar.navbar-default {
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}

.main-content {
    padding-top: 50px;
}

.ngdialog-content {
    width: 80% !important;
    text-align: center;
    padding-top: 10%;
}

.ngdialog-content h1 {
    font-size: 150%;
}

.popup.postSuccess img {
    width: 20%;
}

.navbar-brand {
    padding: 15px;
}

#title-image {
    width: 20px;
    margin-right: 5px;
    display: inline-block;
    padding-bottom: 5px;
}

#title-span {
    font-size: 110%;
}