.vcenter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.back {
    padding-left: 5%;
    margin-top: 20px;
}

h1.heading {
    text-align: center;
}

a h1 {
    color: black;
}

hr.heading {
    width: 60%;
    height: 1px;
    background-color: #66B3FF;
}

hr.inline-separator {
    margin: 10px auto;
    width: 75%;
}

.post {
    width: 100%;
    margin: 40px auto !important;
    cursor: pointer;
    text-align: center;
}

.post .post-title {
    text-align: center;
    font-weight: 200;
    font-size: 250%;
}

.post .post-date {
    text-align: center;
    font-style: italic;
    font-size: 125%;
    font-weight: 200;
}

.post .post-content {
    width: 90%;
    padding: 15px 0;
    font-size: 125%;
    margin: auto;
    height: auto;
    font-weight: 200;
}

.post .post-images {
    width: 100%;
    text-align: center;
    padding: 0 !important;
}

.post .post-images img {
    width: 100% !important;
    padding: 0;
    margin: 0 !important;
}

.post .post-footer {
    margin-top: 30px;
    font-style: italic;
    font-size: 110%;
    font-weight: 300;
}

.post .post-share {
    padding: 30px;
}

.post .post-share ul {
    text-align: center !important;
}

.post .rrssb-buttons {
    /*width: auto;*/
}

.post .post-share li {
    margin: auto;
    display: inline-block;
    float: none;
    max-width: 40px;
}

.post .post-content h1 {
    font-size: 150%;
}

.post .post-content h2 {
    font-size: 130%;
}

.post .post-content h3 {
    font-size: 120%;
}

.post .post-content h4 {
    font-size: 110%;
}

.post .post-content h1,
.post .post-content h2,
.post .post-content h3,
.post .post-content h4 {
    margin: 5px;
}