.vcenter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.back {
    padding-left: 5%;
}

h1.heading {
    text-align: center;
}

hr.heading {
    width: 60%;
    height: 1px;
    background-color: #66B3FF;
}

.post {
    width: 90%;
    background: #EFEFEF;
    margin: 10% auto;
    -webkit-box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.72);
    -moz-box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.72);
    box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.72);
    cursor: pointer;
}

.post .post-header {
    padding: 0 2%;
    height: 60px;
    background: #66B3FF;
}

.post .post-header .post-author {
    width: 60%;
    float: left;
    font-size: 130%;
}

.post .post-header .post-author img {
    height: 50px;
    position: relative;
    top: 5px;
    border: 3px solid white;
    border-radius: 50%;
}

.post .post-header .post-date {
    width: 40%;
    height: 10px;
    position: relative;
    top: 20px;
    font-size: 110%;
    float: left;
    text-align: right;
}

.post .post-content {
    padding: 2%;
    overflow: hidden;
}

.post .post-detailed-content, .post .post-detailed-images-section {
    padding: 2%;
}

.post-images-section {
    width: 90%;
    margin:auto;
}

.post-images-section .post-images img {
    max-height: 250px;
    width: 45%;
    float: left;
    margin: 2.5%;
}

.post .post-footer {
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

.post .post-images {
    padding: 2%;
}

.post .post-images img {
    width: 45%;
    margin: 2.5%;
}

.post-author-name {
    font-style: italic;
}

.post h1 {
    font-size: 200%;
}

.post h2 {
    font-size: 150%;
}

.post h3 {
    font-size: 125%;
}

.post h4 {
    font-size: 115%;
}