<div class="dashboard text-center">
    <h1 class="heading center">Dashboard</h1>
    <hr class="heading">

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-xs-6">
                <div class="dashboard-status-item">
                    <i class="fa fa-users fa-3x"></i>
                    <span>{{ status.views }}</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-6">
                <div class="dashboard-status-item">
                    <i class="fa fa-comments fa-3x"></i>
                    <span>{{ status.comments }}</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-6" ui-sref="base.admin.posts">
                <div class="dashboard-status-item">
                    <i class="fa fa-edit fa-3x"></i>
                    <span>{{ status.posts }}</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-6" ui-sref="base.admin.categories">
                <div class="dashboard-status-item">
                    <i class="fa fa-tags fa-3x"></i>
                    <span>{{ status.categories }}</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
                <h3>Senaste inlägget</h3>
                <p>{{ lastPost.author.firstName }} postade det senaste inlägget,
                    <a ui-sref="base.postdetail({ id: lastPost._id })">{{ lastPost.title }}</a>, för {{ lastPost.date | timeSince }} sedan.</p>
                <p>Inlägget kategoriserades som
                    <span ng-repeat="cat in lastPost.categories track by $index">
                        {{ cat.name }}<span ng-show="$index < lastPost.categories.length - 1">, </span>
                    </span> och har fått 0 kommentarer.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
                <h3>Statistik</h3>
                <p>Det postas {{ stats.postsPerDay }} inlägg per dag som i snitt har {{ stats.avgNbrCategories }} kategorier.
                    Den flitigaste bloggaren heter {{ stats.topWriter.name }} och har skrivit {{ stats.topWriter.share * 100 }}% av
                alla inlägg.</p>
            </div>
        </div>
    </div>
</div>
