<div ui-view>
    <div class="text-center">
        <h1>Hantera inlägg</h1>
        <hr class="heading">
        <div class="admin-list">
            <div ng-repeat="post in posts">
                <div ui-sref="base.admin.posts.detail({ id: post._id })" class="admin-post">
                    <h1 class="post-title">{{ post.title }}</h1>
                    <div class="footer">
                        <span class="admin-post-author">Postat av {{ post.author.firstName }}</span>
                        <span class="admin-post-date">{{ post.date | prettyDate }}</span>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>