<nav class="light-blue">
    <div class="nav-wrapper">
        <div class="col s12">
            <a ui-sref="base.admin" class="breadcrumb">Admin</a>
            <a ui-sref="base.admin.posts" class="breadcrumb">Inlägg</a>
            <a ui-sref="base.admin.posts.new" class="breadcrumb">Nytt inlägg</a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
      <form class="col s12" name="newPostForm">
        <div class="row">
          <div class="input-field col s12">
            <input ng-required="true" id="post_title" ng-model="post.title" type="text" class="validate">
            <label for="post_title">Titel</label>
          </div>
        </div>

        <div class="hide-on-med-and-up">
            <div class="row">
                <div class="col s8">
                    <ul class="tabs">
                        <li class="tab col s4"><a class="active" href="#post_markdown">Markdown</a></li>
                        <li class="tab col s4"><a href="#post_html">HTML</a></li>
                    </ul>
                </div>
            </div>

            <div class="row" id="post_markdown">
                <div class="input-field col s12">
                  <textarea id="post_content" ng-model="post.content" ng-required="true" class="materialize-textarea validate"></textarea>
                  <label for="post_content">Innehåll</label>
                </div>
            </div>

            <div class="row" id="post_html">
                <div class="post-content col s12" ng-bind-html="post.content | markdown | trust"></div>
                </div>
            </div>
        </div>

        <div class="hide-on-small-only">
            <div class="row">
                <div class="input-field col s6">
                  <textarea id="post_content_md_up" ng-model="post.content" ng-required="true" class="materialize-textarea validate"></textarea>
                  <label for="post_content_md_up">Innehåll</label>
                </div>

                <div class="post-content col s6" ng-bind-html="post.content | markdown | trust"></div>

            </div>
        </div>

        <div class="row" ng-show="categories.length > 0">
          <div class="input-field col s12">
            <select id="postCategories" ng-model="selectedCategories" ng-options="category._id as category.name for category in categories track by category._id" ng-required="true" multiple>
                <option value="" disabled selected>Välj kategori</option>
            </select>
            <label>Kategorier</label>
          </div>
        </div>

        <div class="row" ng-show="nearbyPlaces.length > 0">
          <div class="input-field col s12">
            <select id="postLocation" ng-model="post.location" ng-options="place.place_id as place.formatted_address for place in nearbyPlaces track by place.place_id" multiple>
                <option value="" disabled selected>Välj plats</option>
            </select>
            <label>Plats</label>
          </div>
        </div>

        <div class="row">
            <form action="#">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Bilder</span>
                        <input type="file" multiple>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Välj en eller flera bilder">
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="switch col s6">
                <label>
                  <input type="checkbox">
                  <span class="lever"></span>
                  Facebook
                </label>
            </div>
            <div class="switch col s6">
                <label>
                  <input type="checkbox">
                  <span class="lever"></span>
                  Twitter
                </label>
            </div>
        </div>

        <div class="row">
            <a ng-class="{ disabled: newPostForm.$invalid }" ng-click="submitPost()" class="waves-effect waves-light btn left"><i class="material-icons left">send</i>Skapa</a>
        </div>

      </form>
    </div>
</div>