<div class="admin new-post text-center">
    <h1>Nytt inlägg</h1>
    <hr class="heading">
    <form name="newPostForm">
        <input type="text" ng-model="post.title" placeholder="Rubrik" ng-required="true" >
        <textarea ng-model="post.content" placeholder="Innehåll" ng-required="true"></textarea>

        <select ng-model="post.categories" ng-required="true" multiple>
            <option ng-repeat="category in categories" value="{{ category._id }}">
                {{ category.name }}
            </option>
        </select>

        <select ng-model="post.location">
            <option ng-repeat="place in nearbyPlaces" value="{{ place.place_id }}">
                {{ place.formatted_address }}
            </option>
        </select>

        <label for="file-upload" class="custom-file-upload">
            <i class="fa fa-camera"></i>
        </label>

        <input id="file-upload" type="file" custom-on-change="renderImages" multiple />
        <div class="gallery" ng-repeat="image in images track by $index">
            <div class="gallery-image">
                <img ng-src="{{ image }}" />
                <input type="button" class="removePhotoButton" value="X" ng-click="removePhoto($index)" />
            </div>
        </div>

        <button ng-click="submitPost()" ng-disabled="newPostForm.$invalid">Posta</button>
    </form>
</div>