<div ui-view>
    <nav class="light-blue">
        <div class="nav-wrapper">
          <div class="col s12">
            <a ui-sref="base.admin" class="breadcrumb">Admin</a>
            <a ui-sref="base.admin.users" class="breadcrumb">Användare</a>
          </div>
        </div>
    </nav>
    <ul class="collection with-header">
        <li class="collection-header"><h4>Användare</h4></li>
        <li class="collection-item" ng-repeat="user in users">
            <div>{{ user.name }}
                <a ui-sref="base.admin.posts.detail({ id: category._id })" class="secondary-content">
                    <i class="material-icons">send</i>
                </a>
            </div>
        </li>
    </ul>
</div>