.gallery {
    width: 90%;
    margin: 5% auto;

    .gallery-image {
        display:inline-block;
        position:relative;
        height: 100px;
        float: left;
        width: 33%;

        img {
            max-width: 100%;
            max-height: 100%;
            margin: auto;
            padding: 10px;
            border-radius: 15px;
        }

        .removePhotoButton {
            position: absolute;
            top: 0;
            right: 0;
            border: 1px solid #dbd4d4;
            border-radius: 5em;
            background: white;
            color: $primary-color;
            box-shadow: none;
            width: 2em;
            height: 2em;
            font-size: 100%;
            text-align: center;
            padding: 0px;
        }
    }
}

@media only screen and (min-width: 768px) {
    .gallery {
        width: $input-width-tablet;

        .gallery-image {

            img {
                max-width: 100%;
            }
        }
    }
}
