input, textarea {
    @extend .border;
    text-align: left;
    font-weight: 300;
    width: $input-width-mobile;
    margin-top: 10px;
    display: block;
    padding: 2%;
    padding-left: 3%;
    margin-left: auto;
    margin-right: auto;
}

input {
    margin: 2.5% auto;
    background: white;
    height: $input-height-mobile;
    font-size: $font-size-mobile;
}

textarea {
    resize: none;
    height: $textarea-height-mobile;
    font-size: $font-size-mobile;
}

.admin select {
    @extend .border;
    width: $input-width-mobile;
    font-weight: 300;
    padding: 1%;
}

@media only screen and (min-width: 768px) {

    input, textarea {
        width: $input-width-tablet;
        margin: 2.5% auto;
        display: block;
        font-size: $font-size-tablet;
    }

    input {
        height: $input-height-tablet;
    }

    textarea {
        height: $textarea-height-tablet;
    }

    .admin select {
        width: $input-width-tablet;
        font-size: $font-size-tablet;
    }
}
