.admin-list {
    padding: 5%;
    text-align: left;
    font-weight: 200;
    font-size: $font-size-mobile;

    h1 {
        font-size: $font-size-mobile * 1.1;
        margin-top: 10px;
        font-weight: 300;
    }

    .new {
        margin-bottom: 20px;
        display: block;
    }
}

@media only screen and (min-width: 768px) {
    .admin-list {
        margin: auto;
        font-size: $font-size-tablet;

        h1 {
            font-size: $font-size-tablet * 1.1;
        }
    }
}
