.ngdialog-content {
    width: 80%;
    text-align: center;
    padding-top: 10%;

    h1 {
        font-size: $font-size-mobile;
    }

    img {
        width: 20%;
    }
}

.popup.spinner i {
    font-size: 200%;
}

@media only screen and (min-width: 768px) {
    .ngdialog-content {
        width: 50%;

        h1 {
            font-size: $font-size-tablet;
        }

        img {
            width: 15%;
        }

        p {
            font-size: $font-size-tablet * 0.9;
        }
    }
}
