.ngdialog-content {
    width: 80% !important;
    text-align: center;
    padding-top: 10%;

    h1 {
        font-size: 150%;
    }

    img {
        width: 20%;
    }
}

.popup.spinner i {
    font-size: 200%;
}