.post {

    h1 {
        color: black;
        font-weight: 200;
    }

    .post-date {
        font-style: italic;
        font-size: $font-size-mobile;
        font-weight: 200;
    }

    .post-content {
        padding: 3% 5%;
        font-weight: 700;
        font-size: $font-size-mobile;

        h1 {
            font-size: 150%;
            font-weight: 300;
        }

        * {
            font-size: $font-size-mobile;
        }

    }

    .post-images {
        width: 100%;
        text-align: center;
        padding: 0 !important;
        margin-bottom: 5%;
    }

    .post-images img {
        width: 100% !important;
        padding: 0;
        margin: 0 !important;
    }

    .post-footer {
        margin-top: 30px;
        font-style: italic;
        font-size: 110%;
        font-weight: 300;

        .post-location {
            i {
                color: $primary-color;
                font-size: $font-size-mobile;
            }

            span {
                font-weight: 300;
                font-size: $font-size-mobile;
            }
        }
    }

    .post-share {
        padding: 30px;
    }

    .post-share ul {
        text-align: center !important;
    }

    .post-share li {
        margin: auto;
        display: inline-block;
        float: none;
        max-width: 40px;
    }

    pre {
        text-align: left !important;

        code {
            color: #c7254e;
            background-color: #f9f2f4;
        }

    }
}

@media only screen and (min-width: 768px) {

  .post {
    width: 60%;
    margin: auto;

    .post-date {
      font-size: $font-size-tablet * 0.8;
    }

    .post-content {
      font-size: $font-size-tablet;
    }

    .post-images img {
        max-width: 80%;
        margin: auto;
    }

    .post-location ng-map {
        max-width: 80%;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
    }

    .post-footer {
      font-size: 125%;
    }

  }

}
