.post {

    h1 {
        color: black;
        font-weight: 200;
    }

    .post-date {
        font-style: italic;
        font-weight: 200;
    }

    .post-content {
        padding: 3% 5%;
        font-weight: 200;
        font-size: 110%;

        h1 {
            font-size: 150%;
            font-weight: 300;
        }

    }

    .post-images {
        width: 100%;
        text-align: center;
        padding: 0 !important;
    }

    .post-images img {
        width: 100% !important;
        padding: 0;
        margin: 0 !important;
    }

    .post-location {
        margin: 30px auto;
    }

    .post-location ng-map {
        max-height: 200px;
        margin-top: 25px;
    }

    .post-footer {
        margin-top: 30px;
        font-style: italic;
        font-size: 110%;
        font-weight: 300;
    }

    .post-share {
        padding: 30px;
    }

    .post-share ul {
        text-align: center !important;
    }

    .post-share li {
        margin: auto;
        display: inline-block;
        float: none;
        max-width: 40px;
    }
}

@media only screen and (min-width: 768px) {

  .post {
    width: 60%;
    margin: auto;

    .post-date {
      font-size: 125%;
    }

    .post-content {
      font-size: 150%;
    }

    .post-images img {
        max-width: 80%;
        margin: auto;
    }

    .post-location ng-map {
        max-width: 80%;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
    }

    .post-footer {
      font-size: 125%;
    }

  }

}
