.about {
    .author {
        width: 90%;
        margin: 10% auto;

        img {
          width: 50%;
          border-radius: 50%;
        }

        p.desc {
          font-style: italic;
          font-size: $font-size-mobile;
        }

        hr.divider {
            width: 80%;
        }

        hr.primary {
            width: 25%;
            background-color: #66B3FF;
            height: 2px;
        }
    }

}

@media only screen and (min-width: 768px) {

  .about {

    .author {
      width: 80%;
      margin: 5% auto;
      padding: 0 10%;

      img {
        width: 30%;
      }

      p.desc {
          font-size: $font-size-tablet;
      }

    }

  }

}
