<div class="about text-center">
    <h1 class="heading center">Vilka är då vi?</h1>
    <hr class="heading">

    <div class="author">
        <img src="img/axel.png">
        <h2>Axel Niklasson</h2>
        <hr class="primary">
        <p class="desc">21-åring som arbetar på XLENT i Kristianstad innan resan och sedan är det dags för masterstudier på Chalmers.</p>
    </div>

    <hr class="divider">

    <div class="author">
        <img src="img/martin.png">
        <h2>Martin Lidén</h2>
        <hr class="primary">
        <p class="desc">Arbetar på IKEA och taggar resa. Annars läses Teknisk Fysik på Chalmers, där tredje året påbörjas efter resan.</p>
    </div>
</div>