.edit.posts {
    text-align: left;

    .row {
        padding: 0 2.5%;
    }

    h3 {
        font-weight: 300;
    }
}

@media only screen and (min-width: 768px) {
    .edit.posts {

        .row {
            width: 100%;
            text-align: center;

            h3 {
                display: block;
            }

            input, textarea {
                display: block;
            }
        }

        .action-buttons {
            margin-top: 50px;
        }
    }
}
