.new-post {

    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
        background: #66B3FF;
        color: white;
        height: $button-height-mobile;
        font-weight: 400;
        width: 100%;
        padding-top: 12px;
        font-size: 130%;
        margin-top: 5%;
    }

    input[type="file"] {
        display: none;
    }

    .location {
        width: 100%;
        margin: auto;
        text-align: left;
        font-weight: 300;
        padding-top: 25px;
    }
}

@media only screen and (min-width: 768px) {
        .new-post {
            .custom-file-upload {
                height: $button-height-tablet;
                width: $button-width-tablet;
                font-size: $font-size-tablet;
                padding-top: 2%;
            }
            .location {
                width: $input-width-tablet;
                font-size: $font-size-tablet;
                margin: auto;

                h4 {
                    font-size: $font-size-tablet * 1.1;
                }
            }
        }
}
