<div class="back">
    <a ui-sref="base.posts">&larr; Tillbaka</a>
</div>

<div class="post">
    <div class="post-header"">
        <div class="post-author">
            <img src="img/axel.png">
        </div>
        <div class="post-date">{{ post.date | prettyDate }}</div>
    </div>
    <div class="post-detailed-content" ng-bind-html="post.content | trust"></div>
</div>

<div class="post-images-section" ng-show="post.images.length > 0">
    <h4>Bilder</h4>
    <div class="post-images" ng-repeat="image in post.images">
        <img ng-src="{{ image }}" />
    </div>
</div>