<div>

    <spinner></spinner>

    <div class="posts-wrapper" ng-repeat="post in posts track by $index">
        <div class="post">
            <a ng-show="!editing" ui-sref="base.postdetail({ id: post._id })"><h1 class="post-title">{{ post.title | uppercase }}</h1></a>
            
            <hr class="inline-separator" ng-show="!editing">
            <p class="post-date" ng-show="!editing">{{ post.date | prettyDate }}</p>

            <a ng-show="authenticated && !editing" ng-click="showEditFields()" class="waves-effect waves-light btn"><i class="material-icons left">edit</i>Ändra</a>

            <div class="editField">
                <a ng-show="authenticated && editing" ng-click="updatePost(post)" class="waves-effect waves-light btn"><i class="material-icons left">save</i>Spara</a>

                <a ng-show="authenticated && editing" ng-click="hideEditFields()" class="waves-effect waves-light btn grey"><i class="material-icons left">close</i>Avbryt</a>
            </div>

            <div class="row editField" ng-show="editing">
                <div class="input-field col s12">
                  <input type="text" placeholder="Titel" ng-model="post.title" id="postTitle" class="materialize-input editField"></textarea>
                  <label class="active" for="postTitle">Titel</label>
                </div>
            </div>

            <div class="row editField" ng-show="editing">
                <div class="input-field col s12">
                  <textarea ng-model="post.content" placeholder="Innehåll" id="postContent" class="materialize-textarea"></textarea>
                  <label class="active" for="postContent">Innehåll</label>
                </div>
            </div>

            <div ng-show="!editing" class="post-content" ng-bind-html="post.content | markdown | trust"></div>
            <div class="post-images" ng-repeat="image in post.images track by $index">
                <img image-lazy-load="{{ image }}" img-fix-orientation="image" image-index="$index" post-index="$parent.$index">
            </div>

            <div class="post-footer">
                <div class="post-location" ng-show="post.location.formatted_address != undefined">
                    <i class="fa fa-map-marker"></i><span> {{ post.location.formatted_address }}</span>
                </div>
                <div class="post-categories">
                    <span class="post-author-name">Postat av {{ post.author.firstName }} i
                        <span ng-repeat="category in post.categories track by $index">
                            <a>{{ category.name }}</a><span ng-show="$index < post.categories.length - 2">, </span>
                            <span ng-show="$index == post.categories.length - 2">och </span>
                            <span ng-show="$index < post.categories.length - 1">, </span>
                        </span>
                    </span>
                </div>
            </div>

            <div class="post-share">

              <a ng-href="https://www.facebook.com/sharer/sharer.php?u=https://resa.axelniklasson.se/posts/{{ post._id }}" target="_blank" class="waves-effect waves-light btn"><i class="fa fa-facebook"></i></a>

              <a ng-href="https://twitter.com/intent/tweet?text={{ post.title }} %7C https://resa.axelniklasson.se/posts/{{ post._id }}" target="_blank" class="waves-effect waves-light btn"><i class="fa fa-twitter"></i></a>
              
              <a ng-href="https://plus.google.com/share?url={{ post.title }} %7C http://resa.axelniklasson.se/posts/{{ post._id }}" target="_blank" class="waves-effect waves-light btn"><i class="fa fa-google-plus"></i></a>
            
            </div>
        </div>
        <hr class="posts-separator">
    </div>
</div>
