<div>
    <h1 class="heading center">Senaste inläggen</h1>
    <hr class="heading">
    <div class="posts" ng-repeat="post in posts">
        <div class="post" ui-sref="base.postdetail({ id: post._id })">
            <div class="post-header"">
                <div class="post-author">
                    <img src="img/axel.png">
                </div>
                <div class="post-date">{{ post.date | prettyDate }}</div>
            </div>
            <div class="post-content" ng-bind-html="post.content | trust"></div>
            <div class="post-footer">
                <div class="post-images">
                    <img src="img/camera.png" ng-show="post.images && post.images.length > 0">
                </div>
            </div>
        </div>
    </div>
</div>