.dashboard {
    font-size: $font-size-mobile;

    .dashboard-status-item {
        border: 3px solid $primary-color;
        width: 30%;
        padding: 10%;
        margin: 5% auto;
        border-radius: 50%;
        display: table;
        position: relative;

        i {
            color: $primary-color;
        }

        span {
            padding: 5px 10px;
            font-size: 100%;
            background: $light-red;
            border-radius: 50%;
            color: white;
            position: absolute;
            top: 0;
            right: 0 - width/2;
        }
    }
}
